# /etc/systemd/system/mongod.service
# {{ ansible_managed }}
[Unit]
Description=MongoDB Database Service
Wants=network.target nohugepages.service
After=network.target

[Service]
Type=simple
RuntimeDirectory=mongod
PIDFile={{ mongodb_conf_pidFile }}
ExecStart={{ mongodb_daemon_bin }} --config {{ mongodb_conf_file }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User={{ mongodb_daemon_user }}
Group={{ mongodb_daemon_group }}
StandardOutput=journal
StandardError=journal
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000

[Install]
WantedBy=multi-user.target
Alias=mongo.service mongodb.service mongodb-server.service mongodb-org.service mongodb-org-server.service

