# /etc/mongod.conf
# {{ ansible_managed }}

net:
  bindIp: {{ '127.0.0.1' if mongodb_safeMode else mongodb_conf_bindIp }}
{% if mongodb_install_major <= 3 and mongodb_install_minor < 6 %}
  http:
    enabled: {{ mongodb_conf_httpInterface|to_nice_json|bool|lower }}
{% endif %}
  ipv6: {{ mongodb_conf_ipv6|to_nice_json|bool|lower }}
  maxIncomingConnections: {{ mongodb_conf_maxConns|int }}
  port: {{ mongodb_conf_port|int }}

processManagement:
  fork: false
  pidFilePath: {{ mongodb_conf_pidFile }}

{% if mongodb_replSet_enabled and not mongodb_safeMode %}
replication:
  oplogSizeMB: {{ mongodb_conf_oplogSize | int }}
  replSetName: {{ mongodb_replSet_name }}
{% endif %}

{% if not mongodb_safeMode %}
{% if mongodb_conf_auth or mongodb_replSet_key != "" %}
security:
{% endif %}
{% if mongodb_conf_auth %}
  authorization: {{ 'enabled' if mongodb_conf_auth else 'disabled' }}
{% endif %}
{% if mongodb_replSet_key != "" %}
  clusterAuthMode: keyFile
  keyFile: {{ mongodb_replSet_keyFile }}
{% endif %}
{% endif %}

storage:
  dbPath: {{ mongodb_conf_dbPath }}
  engine: {{ mongodb_conf_dbEngine }}
  journal:
    enabled: {{ mongodb_conf_journal|to_nice_json|bool|lower }}
  wiredTiger:
    engineConfig:
      cacheSizeGB: 1

systemLog:
{{ mongodb_conf_logging | to_nice_yaml | indent(2, true) }}

