---
# tasks file for mongo
- name: Install and configure MongoDB
  block:
    - include_tasks: centos.yml
      when: ansible_os_family == 'RedHat'
    - include_tasks: ubuntu.yml
      when: ansible_os_family == 'Debian'
    - include_tasks: alpine.yml
      when: ansible_os_family == 'Alpine'
  tags: deploy

- name: Configure replica set
  include: replica.yml
  tags: restart
